#denomPane > .viewport {
    -fx-background-color: #071952;
}

.scroll-bar:vertical {
    -fx-background-color: #071952;
    -fx-border-width: 2px; 
    -fx-border-radius: 30%; 
    -fx-border-style: solid; 
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #97FEED;
    -fx-background-radius: 30%;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #97FEED;
    -fx-border-width: 2;

    -fx-border-radius: 30%;
}